$primary: linear-gradient(
  90deg,
  rgba(3, 77, 133, 1) 0%,
  rgba(71, 207, 130, 1) 100%
);
$secondary: #434343;
$tertiary: #545661;
$quaternary-color: #0768b3;
$quinary-color: #5ebf88;
$senary-color: #727272;
$septenary-color: #535353;
$octonary-color: #515151;
$nonary-color: #6cdc9c;

$denary-color: #f8f00b;
$twelfth-color: #f2fff8;
$black: #000;
$white: #fff;

$primary-lad-bg: #e3e3e3;
$secondary-lad-bg: #4a4a4a;
$tertiary-lad-bg: #484848;
$quaternary-lad-bg: #030303;
$quinary-lad-bg: #d3e1ec;
// $senary-lad-bg: #d3c7f3;
